:root {
    --max-width: 960px;
    --serif-font: Georgia, "Times New Roman", Times, serif;
    --sans-serif-font: Arial, Helvetica, sans-serif;
    --meta-color: #777;
    --title-color: #444;
    --text-color: #555;
}

body {
    font-family: var(--sans-serif-font);
    font-size: 15px;
    color: var(--text-color);
    background: #eee;
}

a {
    color: #00d;
}

a:visited {
    color: #009;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: var(--serif-font);
    font-weight: normal;
}

h1 {
    margin-top: 0;
}

ul {
    list-style-type: square;
}

ul ul {
    list-style-type: disc;
    margin: 0;
}

ol ul, ul ol, ol ol {
    margin: 0;
}

.page-content {
    background: #fff;
    box-shadow: 0px 0px 30px 0px #888;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1em 0;
}

.page-content.type-post,
.page-content.type-list {
    display: flex;
}

.page-content.type-post main,
.page-content.type-list main {
    flex: 1 1 auto;
}

.page-content.type-post aside,
.page-content.type-list aside {
    width: 240px;
    flex: 0 0 auto;
}

.page-content main {
    padding: 0 30px;
}

.page-content h1 {
    padding-bottom: 3px;
    border-bottom: 1px solid #eee;
}

.side-block {
    border-left: 1px solid #eee;
    padding: 0.5em 30px;
}

.side-block h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 3px;
    margin: 0;
}
