:root {
    --max-width: 960px;
    --serif-font: Georgia, "Times New Roman", Times, serif;
    --sans-serif-font: Tahoma, Arial, Helvetica, sans-serif;
    --meta-color: #777;
    --title-color: #444;
    --text-color: #333;
}

body {
    font-family: var(--sans-serif-font);
    font-size: 14px;
    color: var(--text-color);
    background: #ccc;
}

a {
    color: #002b56;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: var(--serif-font);
    font-weight: normal;
}

h1 {
    margin-top: 0;
}

ul {
    list-style-type: square;
}

ul ul {
    list-style-type: disc;
    margin: 0;
}

ol ul, ul ol, ol ol {
    margin: 0;
}

.page-content {
    line-height: 1.9;
    background: #fff;
    box-shadow: 0px 0px 30px 0px #888;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1em 0;
}

.page-content.type-post {
    display: flex;
}

.page-content.type-post main {
    max-width: 660px;
}

.page-content.type-post aside {
    width: 240px;
}

.page-content main {
    padding: 0 30px;
}

.page-content h1 {
    border-bottom: 1px solid #eee;
}

.page-content pre {
    line-height: 1.2;
}

.side-block {
    border-left: 1px solid #eee;
    padding: 0.5em 30px;
}
