.columns {
    display: flex;
}

.columns .column {
    width: 50%;
    box-sizing: box-border;
    padding: 0 0 0 var(--gutter-size);
}

.columns .column:first-of-type {
    border-right: 1px solid #ddd;
    padding: 0 var(--gutter-size) 0 0;
}


@media (max-width: 680px) {
    .columns {
        display: block;
        padding: 0 var(--gutter-size);
    }

    .columns .column {
        width: 100%;
        padding: 0;
    }

    .columns .column:first-of-type {
        padding: 0;
        border: 0;
        border-bottom: 1px solid #ddd;
    }
}
