.post .post-meta {
    flex-wrap: wrap;
}

.post-content {
    text-align: justify;
    line-height: 1.9;
}

.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    line-height: 1.4;
}

.post-content pre {
    line-height: 1.2;
    border: 1px solid #bbb;
}

.post-content pre code {
    overflow-y: auto;
    word-wrap: normal;
    white-space: pre;
}

.post-content p > code, .post-content li > code {
    padding: 2px;
    background: #eeeeee;
}

.post .navigation {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 1em 0;
}

.post .navigation .navigation-prev {
    text-align: left;
}

.post .navigation .navigation-next {
    text-align: right;
}

.post-content figure {
    margin: 1em 0;
}

.post-content figure img {
    display: block;
}

.post-content figcaption {
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-top: 0;
    font-size: 90%;
    padding: 0.4em 5px;
    line-height: 1.5;
}

.post-content .bordered {
    border: 1px solid #ccc;
}

.post-content .bordered figcaption {
    border: 0;
    border-top: 1px solid #ccc;
}

.post-content .object-left {
    float: left;
    margin: 0 1em 0 0;
}

.post-content .object-right {
    float: right;
    margin: 0 0 0 1em;
}

.post-content .object-center {
    margin: 1em auto;
}

.post-content blockquote {
    background: #f0f0f0;
    border-left: 4px solid #aaa;
    font-style: italic;
    padding: 0.6em 1em;
    font-family: var(--serif-font);
    font-size: 110%;
    margin: 1em 15px;
}

.post-content blockquote p {
    margin: 0.4em 0;
}

.post-content abbr {
    border-bottom: 1px dotted #333;
}
