.share-networks {
    padding: 0;
    list-style-type: none;
}

.share-networks a {
    line-height: 2.5;
    display: block;
    text-decoration: none;
    padding-left: 1.5em;
    color: #fff;
}

.share-networks a:visited {
    color: #fff;
}

.share-twitter {
    background: #1B95E0;
}

.share-googleplus {
    background: #DB4437;
}

.share-facebook {
    background: #3F5C9A;
}

.share-linkedin {
    background: #1A85BC;
}
