.site-menu {
    background: #333;
}

.site-menu ul {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0;
    border-left: 1px solid #ccc;
}

.site-menu li {
    display: table-cell;
    vertical-align:middle;
    list-style-type: none;
    padding: 0.8em 1em;
    border-right: 1px solid #ccc;
}

.site-menu a {
    text-decoration: none;
    color: #fff;
}
