<div class="side-block last-photos">
    <h2>Dernières photos</h2>

    <ul>
    {% for post in lastPhotos %}
        {% for photo in post.photos %}
        <li><a href="{{ post.path|url }}" lang="{{ post.lang|default('fr', true) }}"><img src="/{{ photo|image_variation('200x') }}" alt="Miniature d'une photo du billet '{{ post.title }}'" loading="lazy"></a></li>
        {% endfor %}
    {% endfor %}
    </ul>
    <p class="more"><a href="{{ more.photo.path|url }}">{{ more.photo.name }}</a></p>
</div>
