<article lang="{{ page.lang|default('fr', true) }}">
    <h2><a href="{{ page.permalink|url }}">{{ page.title }}</a></h2>
    <div class="post-meta">
        {% set date = page.updated if page.updated else page.published %}
        <a href="{{ page.permalink|url }}">
            Dernière mise à jour
            <time datetime="{{ date.format('YYYY-MM-DD') }}">le {{ date.format('DD MMM YYYY') }}</time>
        </a>
    </div>
</article>
