<div class="side-block post-side">
  <dl>
    <dt>Publié le</dt>
    <dd>
      <time datetime="{{ published.format('YYYY-MM-DD') }}">{{ published.format('DD MMM YYYY') }}</time>
    </dd>
    {% if updated %}
    <dt>Mis jour le</dt>
    <dd>
      <time datetime="{{ updated.format('YYYY-MM-DD') }}">{{ updated.format('DD MMM YYYY') }}</time>
    </dd>
    {% endif %}
  </dl>
  {% include "parts/tags.njk" %}
</div>
