<div class="side-block post-side">
  <dl>
    {% if not updated %}
      {% set updated = published %}
    {% endif %}
    <dt>Dernière mise à jour</dt>
    <dd>
      <time datetime="{{ updated.format('YYYY-MM-DD') }}">{{ updated.format('DD MMM YYYY') }}</time>
      {% if isOutdated %}
        <p class="outdated-notice">ℹ️ Ce billet n'a pas été mis à jour depuis plus de 5 ans; par conséquent il contient probablement des informations périmées et/ou des liens cassés.</p>
      {% endif %}
    </dd>
  </dl>
  {% include "parts/tags.njk" %}
</div>
