<div class="side-block share">
    <a href="/rss.xml" class="rss side-block-icon">{{ icons['rss.svg'].contents|safe|replace(' xmlns="http://www.w3.org/2000/svg"', '') }}<span>Flux RSS du blog</span></a>
</div>
