:root {
  --max-width: 960px;
  --serif-font: Superclarendon, "Bookman Old Style", "URW Bookman",
    "URW Bookman L", "Georgia Pro", Georgia, serif;
  --sans-serif-font: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand,
    Comfortaa, Manjari, Calibri, source-sans-pro, sans-serif;
  --meta-color: #666;
  --title-color: #444;
  --text-color: #555;
  --gutter-size: 25px;
  --text-background: #fff;
}

body {
  font-family: var(--sans-serif-font);
  font-size: 17px;
  color: var(--text-color);
  background: #eee;
}

a {
  color: #00d;
}

a:visited {
  color: #009;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: var(--sans-serif-font);
  font-weight: normal;
}

h1 {
  margin-top: 0;
}

ul {
  list-style-type: square;
}

ul ul {
  list-style-type: disc;
  margin: 0;
}

ol ul,
ul ol,
ol ol {
  margin: 0;
}

hr {
  width: 80%;
  border: 0;
  height: 2px;
  background: #ddd;
  margin: 2em auto;
}

.page-content {
  background: var(--text-background);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1em 0;
}

.page-content.type-post,
.page-content.type-list {
  display: flex;
}

.page-content.type-post main,
.page-content.type-list main {
  width: 68.75%;
}

.page-content.type-post aside,
.page-content.type-list aside {
  width: 31.25%;
}

.page-content main {
  padding: 0 var(--gutter-size);
}

.page-content h1 {
  padding-bottom: 3px;
  border-bottom: 1px solid #eee;
}

.page-content img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.side-block {
  border-left: 1px solid #ddd;
  padding: 0.5em var(--gutter-size);
  margin-bottom: 2em;
}

.side-block:last-of-type {
  margin-bottom: 0;
}

.side-block h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 3px;
  margin: 0;
}

.side-block .side-block-icon {
  display: block;
  text-decoration: none;
  padding: 0.2em 0.5em;
}

.side-block .side-block-icon span {
  text-decoration: underline;
}

.side-block .side-block-icon svg {
  fill: var(--text-background);
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
  margin: 0 0.5em 0 0;
  padding: 0.4em;
  border-radius: 5px;
}

@media (max-width: 960px) {
  .page-content main {
    padding: 0 10px 0 10px;
  }

  .side-block {
    padding: 0.5em 10px 0.5em 10px;
  }
}

@media (max-width: 680px) {
  .page-content.type-post,
  .page-content.type-list {
    display: block;
  }

  .page-content.type-post main,
  .page-content.type-list main {
    width: 100%;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
  }

  .page-content.type-post aside,
  .page-content.type-list aside {
    display: flex;
    width: 100%;
    border-top: 1px solid #ddd;
    margin-top: 1em;
    padding-top: 1em;
    flex-wrap: wrap;
  }

  .side-block {
    box-sizing: border-box;
    width: 50%;
  }
}

@media (max-width: 580px) {
  .side-block {
    width: 50%;
  }

  .side-block.last,
  .side-block.post-side {
    width: 100%;
  }
}
