.cv {
  line-height: 1.4;
}

.cv header {
  display: flex;
}

.cv h1 {
  border-bottom: 0;
  font-size: 250%;
  flex: 1 1 auto;
  order: 2;
  text-align: center;
  align-self: center;
}

.cv .bio ul {
  list-style-type: none;
  padding: 0;
}

.cv h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 3px;
}

.cv h3 {
  margin-top: 0;
  font-weight: bold;
}

.cv dd {
  margin: 0;
}

.cv .summary {
  line-height: 1.9;
}

.cv abbr {
  border-bottom: 1px dotted #333;
}

.cv .me {
  font-size: 150%;
}

.cv .contact {
  margin-top: 1em;
}

.cv .phone {
  white-space: nowrap;
}

.cv .website {
  display: none;
}

.cv .alternative {
  margin-top: 1em;
}

.cv dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.cv dt {
  width: 20%;
  font-weight: normal;
  background: #eee;
  color: #333;
}

.cv dd {
  width: 80%;
  padding-left: 1em;
}

.cv dd,
.cv dt {
  padding: 0.5em;
  margin-top: 0.3em;
  box-sizing: border-box;
}

.cv dl ul {
  padding: 0;
  list-style-position: inside;
}

.cv dl p {
  margin: 0;
}

.cv .tasks {
  padding-left: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.cv .tech {
  margin: 0;
}

.cv .overview {
  margin-bottom: 0;
}

.cv .keywords {
  margin-top: 0.3em;
  list-style-type: none;
  padding: 0;
  line-height: 1.6;
}

.cv .keywords li {
  display: inline;
  padding-right: 1.2em;
}

.cv .keywords li:last-of-type {
  padding-right: 0;
}

.cv .logo {
  margin-top: 2em;
}

@media (max-width: 600px) {
  .cv header {
    display: block;
  }

  .cv .bio {
    display: flex;
    flex-flow: wrap;
    align-items: baseline;
  }

  .cv .base,
  .cv .contact {
    width: 50%;
  }

  .cv .alternative {
    margin-top: 0;
  }
}

@media (max-width: 450px) {
  .cv .bio {
    display: block;
  }
}

@media (max-width: 600px) {
  .cv dl {
    display: block;
  }

  .cv dt,
  .cv dd {
    width: 100%;
  }

  .cv dd {
    padding: 0;
    margin-bottom: 1em;
  }

  .cv .logo {
    display: none;
  }
}
