.page-header,
.page-footer {
  background-color: #002b56;
  color: #fff;
  padding: 1em 0 1.3em 0;
}

.page-header img {
  float: left;
  border-radius: 50%;
  border: 3px solid #5a97bd;
  margin-right: 0.3em;
  margin-top: -0.4em;
}

.page-header a {
  text-decoration: none;
  color: #fff;
}

.page-footer a {
  color: #fff;
}

.page-header h1 {
  margin: 0.5em auto 0 auto;
  max-width: var(--max-width);
}

.page-header p {
  font-style: italic;
  margin: 0.1em auto 0 auto;
  max-width: var(--max-width);
}

.page-footer p {
  max-width: var(--max-width);
  margin: 0.5em auto;
}

.page-section:before {
  content: "/ ";
}
