.post-meta {
  padding: 1em 0;
  display: flex;
}

.post-meta a,
.post-meta {
  text-decoration: none;
  color: var(--meta-color);
}

.post-meta .post-tags {
  flex: 1 1 content;
}

.post-meta time {
  flex: 0 0 auto;
  text-align: right;
  align-self: flex-end;
}
