.tag-cloud {
    list-style-type: none;
    padding: 0;
}

.tag-cloud li {
    display: inline-block;
    margin-right: 1em;
    line-height: 1.5;
}

.tag-cloud a {
    text-decoration: none;
    color: var(--meta-color);
}
