body {
    background: #fff;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

acronym, abrr {
    text-decoration: none;
}

.page-header, .site-menu, .page-footer, .version {
    display: none;
}

.page-content {
    box-shadow: none;
}
