body {
    background: #fff;
    font-size: 80%;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

acronym, abbr[title] {
    text-decoration: none;
}

.page-header, .site-menu, .page-footer, .version {
    display: none;
}

.page-content {
    max-width: auto;
}

.cv h2 {
    color: #085075;
    border-bottom: 1px solid #085075;
}

.break {
    page-break-before: always;
}

.cv abbr {
    border-bottom: 0;
}

.cv .bio {
    margin: 0;
}
