@import "ext/normalize.css";

:root {
    --max-width: 960px;
    --serif-font: Georgia, "Times New Roman", Times, serif;
    --sans-serif-font: Tahoma, Arial, Helvetica, sans-serif;
    --meta-color: #777;
    --title-color: #444;
    --text-color: #333;
}

body {
    font-family: var(--sans-serif-font);
    font-size: 14px;
    color: var(--text-color);
    background: #ccc;
}

a {
    color: #002b56;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: var(--serif-font);
    font-weight: normal;
}

ul {
    list-style-type: square;
}

ul ul {
    list-style-type: disc;
    margin: 0;
}

ol ul, ul ol, ol ol {
    margin: 0;
}

.page-header, .page-footer {
    background-color: #002b56;
    background-image: linear-gradient(to bottom, #000f1e, #002b56);
    color: #fff;
    padding: 1em;
}

.page-header img {
    float: left;
    border-radius: 50%;
    border: 3px solid #5a97bd;
    margin-right: 0.3em;
}

.page-header a, .site-menu a {
    text-decoration: none;
    color: #fff;
}

.page-footer a {
    color: #fff;
}

.page-header h1 {
    margin: 0 auto;
    max-width: var(--max-width);
}

.page-header p {
    font-style: italic;
    margin: 1.4em auto 0 auto;
    max-width: var(--max-width);
}

.page-footer p {
    max-width: var(--max-width);
    margin: 0.5em auto;
}

.page-section:before {
    content: "/ ";
}

.site-menu {
    background: #333;
}

.site-menu ul {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0;
    border-left: 1px solid #ccc;
}

.site-menu li {
    display: table-cell;
    vertical-align:middle;
    list-style-type: none;
    padding: 0.8em 1em;
    border-right: 1px solid #ccc;
}

main {
    line-height: 1.9;
    background: #fff;
    box-shadow: 0px 0px 30px 0px #888;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1em 0;
}

main pre {
    line-height: 1.2;
}

.post-list {
    list-style-type: none;
    padding: 0;
}

.post-list > li {
    border-bottom: 1px solid #eee;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
}

.post-list h2 {
    margin: 0;
}

.post-list h2 a {
    text-decoration: none;
    display: block;
}

.post-tags {
    padding: 0;
    margin: 0;
}

.post-tags li {
    display: inline;
    list-style-type: none;
    padding: 0 0.6em 0 0;
}

.post-meta {
    display: flex;
    justify-content: space-between;
}

.post .post-meta {
    flex-wrap: wrap;
}

.post-meta a, .post-meta {
    text-decoration: none;
    color: var(--meta-color);
}

.post-content {
    text-align: justify;
}

.navigation {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    color: var(--meta-color);
    width: 100%;
}

.navigation li {
    width: 45%;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: var(--meta-color);
}

.navigation .navigation-prev {
    text-align: right;
}

.navigation .navigation-next {
    text-align: left;
}

.post .navigation {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 1em 0;
}

.post .navigation .navigation-prev {
    text-align: left;
}

.post .navigation .navigation-next {
    text-align: right;
}

@import "ext/github.css";
