{% extends "templates/layout.html" %}

{% block title %}Damien Pobel / {{ sections['blog'].name }}{% if pagination.num > 1 %} (page {{ pagination.num }}){% endif %}{% endblock %}

{% block content %}
    <h1>Blog{% if pagination.num > 1 %} (page {{ pagination.num }}){% endif %}</h1>
    <ul class="post-list">
    {% for post in pagination.files %}
        <li>{% include "templates/parts/post_line.html" %}</li>
    {% endfor %}
    </ul>

    {% include "templates/parts/pagination.html" %}
{% endblock %}
