{% extends "layout.njk" %}

{% block title %}Damien Pobel / {{ sections['blog'].name }}{% if pagination.num > 1 %} (page {{ pagination.num }}){% endif %}{% endblock %}

{% block content %}
    <h1>Blog{% if pagination.num > 1 %} (page {{ pagination.num }}){% endif %}</h1>
    <ul class="post-list">
    {% for post in pagination.files %}
        <li>{% include "parts/post_line.njk" %}</li>
    {% endfor %}
    </ul>

    {% include "parts/pagination.njk" %}
{% endblock %}

{% block sideMenu %}
    {% set noSocialNetwork = true %}
    <aside>
        {% include "parts/share.njk" %}
        {% include "parts/last_photos.njk" %}
        {% include "parts/last.njk" %}
    </aside>
{% endblock %}

{% block customMeta %}
    <link rel="canonical" href="{{ path|url(site.url) }}">
{% endblock %}
