{% extends "layout.njk" %}

{% block title %}Damien Pobel{% endblock %}

{% block content %}
<article class="post-content">
    {{ contents|safe }}
</article>
<hr>
<h2>Quelques billets notables</h2>
<ul class="post-list">
    {% for post in collections.top %}
        <li>{% include "parts/post_line.njk" %}</li>
    {% endfor %}
</ul>
{% endblock %}

{% block sideMenu %}{% endblock %}

{% block customMeta %}
<meta name="google-site-verification" content="HkdwI4FlNgoKXNaEbCq4hm12HVaISQDY89UR0UvVRSM" />
{% endblock %}
