{% extends "templates/layout.html" %}

{% block title %}Damien Pobel{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column">
            <article class="post-content">
                {{ contents|safe }}
            </article>
        </div>
        <div class="column">
            <h2>Derniers billets</h2>

            <ul class="post-list">
            {% for post in collections.lastPosts %}
                <li>{% include "templates/parts/post_line.html" %}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block sideMenu %}{% endblock %}

{% block customMeta %}
<meta name="google-site-verification" content="HkdwI4FlNgoKXNaEbCq4hm12HVaISQDY89UR0UvVRSM" />
{% endblock %}
