<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/{{ css }}">
    <title>
        {% block title %}
            {{ title }} - Damien Pobel{% if section %} / {{ sections[section].name }}{% endif %}
        {% endblock %}
    </title>

    <meta name="viewport" content="width=device-width">
    <link rel="Shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="alternate" type="application/rss+xml" href="/rss.xml">
    <link rel="author" href="/humans.txt">
    <link rel="apple-touch-icon" href="/img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/touch-icon-ipad-retina.png">
    {% block customMeta %}{% endblock %}
</head>
<body>
<header class="page-header">
    <h1>
        <a href="/">
            <img src="/img/avatar.png" alt="avatar" width="74" height="74">
            {{ site.name }}
        </a>
        {% if section %}<a href="{{ sections[section].path|url }}" class="page-section">{{ sections[section].name }}</a>{% endif %}
    </h1>
    <p>{{ site.baseline }}</p>
</header>
<nav class="site-menu">
    <ul>
        {% for item in menu %}
        <li><a href="{{ item.path|url }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
</nav>

<div class="page-content type-{{ type }}">
    <main role="main">
    {% block content %}{% endblock %}
    </main>
    {% block sideMenu %}
    <aside>
        {% include "templates/parts/share.html" %}
        {% include "templates/parts/last_photos.html" %}
        {% include "templates/parts/last.html" %}
    </aside>
    {% endblock %}
</div>

<footer class="page-footer">
    <p>
        Copyright &copy; 2006-2019 Damien Pobel
        &mdash;
        Avatar par <a href="http://liliaimelenougat.over-blog.fr/article-et-puis-le-vendredi-je-bosse-57206670.html">Lise Desportes</a>
    </p>
    <p>
    Propulsé par <a href="/post/powered-by-metalsmith/" lang="en">Metalsmith et quelques autres trucs</a> &mdash; Icônes issues de <a href="https://simpleicons.org/" lang="en">Simple icons</a>.
    </p>
</footer>
</body>
</html>
