<!DOCTYPE html>
<html lang="{{ lang|default('fr', true) }}">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>
        {% block title %}
            {{ title }} - Damien Pobel{% if section %} / {{ sections[section].name }}{% endif %}
        {% endblock %}
    </title>

    <meta name="viewport" content="width=device-width">
    <link rel="Shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="author" href="/humans.txt">
    <link rel="apple-touch-icon" href="/img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/touch-icon-ipad-retina.png">
    <!--[if lt IE 9]>
    <script>(function(){var tags=['header','article','footer','nav', 'time', 'section', 'figure', 'abbr'];for(var i=0;i!=tags.length;i++) document.createElement(tags[i]);})();</script>
    <![endif]-->
</head>
<body>
{% block pageHeader %}
<header class="page-header">
    <h1>
        <a href="/"><img src="/img/avatar.png" alt="avatar"></a>
        <a href="/">{{ site.name }}</a>
        {% if section %}<a href="{{ sections[section].path|url }}" class="page-section">{{ sections[section].name }}</a>{% endif %}
    </h1>
    <p>{{ site.baseline }}</p>
</header>
<nav class="site-menu">
    <ul>
        {% for item in menu %}
        <li><a href="{{ item.path|url }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}

<div class="page-content type-{{ type }}">
    <main role="main">
    {% block content %}{% endblock %}
    </main>
    {% block sideMenu %}
    <aside>
        {% include "templates/parts/rss.html" %}
        {% include "templates/parts/share.html" %}
        {% include "templates/parts/last_photos.html" %}
        {% include "templates/parts/last.html" %}
    </aside>
    {% endblock %}
</div>

{% block pageFooter %}
<footer class="page-footer">
    <p>
        Copyright &copy; 2006-2016 Damien Pobel
        &mdash;
        Avatar by <a href="http://liliaimelenougat.over-blog.fr/article-et-puis-le-vendredi-je-bosse-57206670.html">Lise Desportes</a>
    </p>
    <p>
        Powered by <a href="https://github.com/dpobel/damien.pobel.fr/">Metalsmith and a few plugins</a>
    </p>
</footer>
{% endblock %}
</body>
</html>
