{% extends "templates/layout.html" %}


{% block title %}Damien Pobel / {{ sections['pages'].name }}{% if pagination.num > 1 %} (page {{ pagination.num }}){% endif %}{% endblock %}

{% block content %}
    <h1>Pages{% if pagination.num > 1 %} (page {{ pagination.num }}){% endif %}</h1>

    <ul class="post-list">
    {% for page in pagination.files %}
        <li>{% include "templates/parts/page_line.html" %}</li>
    {% endfor %}
    </ul>

    {% include "templates/parts/pagination.html" %}
{% endblock %}
