{% extends "templates/layout.html" %}

{% block content %}
<article class="post" lang="{{ lang }}">
    <h1>{{ title }}</h1>

    <div class="post-content">
    {{ contents|safe }}
    </div>

    <footer class="post-meta">
        {% include "templates/parts/tags.html" %}
        <time datetime="{{ published.format() }}">{{ published.format('YYYY-MM-DD HH:mm') }}</time>
        <ul class="navigation">
            <li class="navigation-prev">
            {% if previous %}
                <a href="{{ previous.path|url }}">
                    &laquo;&nbsp;Previous post
                    <br>
                    {{ previous.title }}
                </a>
            {% endif %}
            </li>
            <li class="navigation-next">
            {% if next %}
                <a href="{{ next.path|url }}">
                    Next post&nbsp;&raquo;
                    <br>
                    {{ next.title }}
                </a>
            {% endif %}
            </li>
        </ul>

    </footer>
</article>
{% endblock %}

{% block customMeta %}
    {% if photos %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="{{ photos[0]|image_variation('660x')|url(site.url, true) }}">
    {% else %}
        <meta name="twitter:card" content="summary">
    {% endif %}
    <meta name="twitter:site" content="@dpobel">
    <meta name="twitter:creator" content="@dpobel">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ contents|striptags|truncate }}">
{% endblock %}
