{% extends "layout.njk" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<article class="post" lang="{{ lang }}">
    <h1>{{ title }}</h1>

    <div class="post-content">
    {{ contents|safe }}
    </div>

    <footer class="post-meta">
        {% include "parts/tags.njk" %}
        <time datetime="{{ published.format('YYYY-MM-DD') }}">{{ published.format('DD/MM/YYYY') }}</time>
        <ul class="navigation">
            {# previous / next are inverted #}
            {% if next %}
            <li class="navigation-prev">
                <a href="{{ next.path|url }}">
                    &laquo;&nbsp;Billet précédent
                    <br>
                    {{ next.title }}
                </a>
            </li>
            {% else %}
            <li class="navigation-prev" aria-hidden="true"></li>
            {% endif %}
            {% if previous %}
            <li class="navigation-next">
                <a href="{{ previous.path|url }}">
                    Billet suivant&nbsp;&raquo;
                    <br>
                    {{ previous.title }}
                </a>
            </li>
            {% else %}
            <li class="navigation-next" aria-hidden="true"></li>
            {% endif %}
        </ul>

    </footer>
</article>
{% endblock %}

{% block customMeta %}
    {% if photos %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="{{ photos[0]|image_variation('660x')|url(site.url, true) }}">
        <meta property="og:image" content="{{ photos[0]|image_variation('660x')|url(site.url, true) }}">
    {% else %}
        <meta name="twitter:card" content="summary">
    {% endif %}
    <meta name="twitter:site" content="@dpobel">
    <meta name="twitter:creator" content="@dpobel">
    <meta name="twitter:title" content="{{ title }}">
    <meta property="og:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description if description else contents|striptags|truncate }}">
    <meta property="og:description" content="{{ description if description else contents|striptags|truncate }}">
    <meta property="og:url" content="{{ path|url(site.url) }}">
    <meta property="og:type" content="article">
    <meta name="description" content="{{ description if description else contents|striptags|truncate(200) }}">
{% endblock %}
