{% extends "templates/layout.html" %}

{% block title %}
    {{ tag }} - Billets à propos de "{{ tag }}"
{% endblock %}

{% block content %}
    <h1>{{ tag }}</h1>

    <ul class="post-list">
    {% for post in pagination.files  %}
        <li>{% include "templates/parts/post_line.html" %}</li>
    {% endfor %}
    </ul>

    {% include "templates/parts/pagination.html" %}
{% endblock %}

{% block sideMenu %}
    {% set noSocialNetwork = true %}
    <aside>
        {% include "templates/parts/share.html" %}
        {% include "templates/parts/last_photos.html" %}
        {% include "templates/parts/last.html" %}
    </aside>
{% endblock %}
