{% extends "templates/layout.html" %}

{% block title %}
    {% set tagInfo = tags|tag_info(tag) %}
    {{ tagInfo.title }} - Billets à propos de "{{ tag }}"
{% endblock %}

{% block content %}
    {% set tagInfo = tags|tag_info(tag) %}
    <h1>{{ tagInfo.title }}</h1>
    <div class="post-content">
        {{ tagInfo.contents|safe }}
    </div>

    <ul class="post-list">
    {% for post in pagination.files  %}
        <li>{% include "templates/parts/post_line.html" %}</li>
    {% endfor %}
    </ul>

    {% include "templates/parts/pagination.html" %}
{% endblock %}

{% block sideMenu %}
    {% set noSocialNetwork = true %}
    <aside>
        {% include "templates/parts/share.html" %}
        {% include "templates/parts/last_photos.html" %}
        {% include "templates/parts/last.html" %}
    </aside>
{% endblock %}
