{% extends "layout.njk" %}

{% block title %}
    {% set tagInfo = tags|tag_info(tag) %}
    {{ tagInfo.title }} - Billets à propos de "{{ tag }}"
{% endblock %}

{% block content %}
    {% set tagInfo = tags|tag_info(tag) %}
    <h1>{{ tagInfo.title }}</h1>
    <div class="post-content">
        {{ tagInfo.contents|safe }}
    </div>

    <ul class="post-list">
    {% for post in pagination.files  %}
        <li>{% include "parts/post_line.njk" %}</li>
    {% endfor %}
    </ul>

    {% include "parts/pagination.njk" %}
{% endblock %}

{% block sideMenu %}
    {% set noSocialNetwork = true %}
    <aside>
        {% include "parts/share.njk" %}
        {% include "parts/last_photos.njk" %}
        {% include "parts/last.njk" %}
    </aside>
{% endblock %}
