{% extends "layout.njk" %}

{% block content %}
    {% set total = collections.posts.length %}
    <h1>{{ title }}</h1>

    <ul class="tag-cloud">
        {% for tag in collections.tags %}
            {% set weight = tagsList[tag.tag].length * 400/total %}
            <li><a href="{{ tag.permalink|url }}" style="font-size: {{ 90 + weight }}%">{{ tag.tag }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block sideMenu %}
    {% set noSocialNetwork = true %}
    <aside>
        {% include "parts/share.njk" %}
        {% include "parts/last_photos.njk" %}
        {% include "parts/last.njk" %}
    </aside>
{% endblock %}

{% block customMeta %}
    <link rel="canonical" href="{{ path|url(site.url) }}">
{% endblock %}
