{% extends "layout.njk" %}


{% block title %}Damien Pobel / {{ sections['pages'].name }}{% if pagination.num > 1 %} (page {{ pagination.num }}){% endif %}{% endblock %}

{% block content %}
    <h1>Pages{% if pagination.num > 1 %} (page {{ pagination.num }}){% endif %}</h1>

    <ul class="post-list page-list">
    {% for page in pagination.files %}
        <li>{% include "parts/page_line.njk" %}</li>
    {% endfor %}
    </ul>

    {% include "parts/pagination.njk" %}
{% endblock %}

{% block customMeta %}
    <link rel="canonical" href="{{ permalink|url(site.url) }}">
{% endblock %}
