{% extends "layout.njk" %}

{% block content %}
<article lang="{{ lang|default('fr') }}" class="post-content">
    {{ contents|safe }}
</article>
{% endblock %}

{% block sideMenu %}{% endblock %}

{% block customMeta %}
    <link rel="canonical" href="{{ permalink|url(site.url) }}">
{% endblock %}
