<div class="side-block last">
    <h2>Derniers billets</h2>
    <ul>
        {% for post in collections.lastPosts %}
        <li><a href="{{ post.permalink|url }}" lang="{{ post.lang|default('fr', true) }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
