<article lang="{{ post.lang|default('fr', true) }}">
    <h2><a href="{{ post.path|url }}">{{ post.title }}</a></h2>
    {% if post.photos %}
        {% for photo in post.photos %}
            <a href="{{ post.path|url }}"><img src="/{{ photo|image_variation('200x') }}" alt="Miniature de {{ post.title }}"></a>
        {% endfor %}
    {% endif %}
    <div class="post-meta">
        {% set tags = post.tags %}
        {% include "templates/parts/tags.html" %}
        <time datetime="{{ post.published.format('YYYY-MM-DD') }}">
            <a href="{{ post.path|url }}">{{ post.published.format('DD/MM/YYYY') }}</a>
        </time>
    </div>
</article>
