<div class="side-block share">
    <h2>Partager cette page</h2>
    <ul class="share-networks">
        <li>
            <a href="https://twitter.com/share?url={{ path|url(site.url)|urlencode }}&text={{ title|urlencode }}&via=dpobel" class="share-twitter side-block-icon" target="_blank">{{ icons['twitter.svg'].contents|safe }}Twitter</a>
        </li>
        <li>
            <a href="https://plus.google.com/share?url={{ path|url(site.url)|urlencode }}&hl=fr" class="share-googleplus side-block-icon" target="_blank">{{ icons['googleplus.svg'].contents|safe }}Google+</a>
        </li>
        <li>
            <a href="https://www.facebook.com/sharer.php?u={{ path|url(site.url)|urlencode }}&t={{ title|urlencode }}" class="share-facebook side-block-icon" target="_blank">{{ icons['facebook.svg'].contents|safe }}Facebook</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ path|url(site.url)|urlencode }}&title={{ title|urlencode }}" class="share-linkedin side-block-icon" target="_blank">{{ icons['linkedin.svg'].contents|safe }}Linkedin</a>
        </li>
    </ul>
</div>
